.container-bg {
    display: flex;
    flex-direction: row;
    width: '100%';
    min-height: 100vh;
}

.nav-container {
    width: 400px;
}


.inputext {
    display: flex;
    flex-direction: column;
}

.textInputname {
    width: 30vw;
    border-color: rgb(176 190 197);
    border-radius: 4px;
    padding: 10px;

    border-width: 2px;
    border-style: solid;
    outline: none;
}

.radiocontainer {
    width: 165px;
    border-color: rgb(176 190 197);
    border-width: 1.5px;
    border-style: solid;
    display: flex;
    margin-top: 5px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 16px;
    /* padding: 2px; */
    /* padding: 2px; */


}



.radioElement {
    margin: 2px;
}

.leftRadioButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    /* height:30px; */

    border-left: 2px solid rgb(176 190 197);
    padding: 2px;


}

.activecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoryName {
    margin-top: 7px;
    margin-bottom: 7px;

    color: #232121;
    font-weight: 500;
}

.conatinerbg-inputs {
    margin-top: 40px;
}

.inputelement{
    font-family: 'Roboto';
}
.imageElementInput{
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    margin-right: 15px;
    padding: 4px;;
    
}

.iconElmenteach{
    height:50px;
}

.container-table-list{
    margin-top: 50px;
}