.containerbg{
    display: flex;
    flex-direction: row;
}
.navContainer{
    width: 600px;
}
/* .rightmainContainer{
    margin-left: 0px;
    
} */


.nameContestpending{
    color:red;
    margin-top: 30px;;
    font-size: 33px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}




.right-container-contest{
    display: flex;
    flex-direction: column;

}

.nameContest{
    font-weight: 600;
    /* color: #73879C; */
    
}

.container-right-Element-contest{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 30px;
 

}

.container-input-contest{
    display: flex;
    flex-wrap: wrap;
    /* padding:30px; */

}

.eachInputElement{
    /* margin-top: 10px; */
    margin:10px;
}

.textInputnameImagecontest{
    border-color: rgb(176 190 197);
    border-radius: 4px;
    padding: 10px;

    border-width: 2px;
    border-style: solid;
    width:625px;
    margin-right: 10px;
    outline: none;
    /* margin-top: 10px; */

}

.datepickerElement{
    display: flex;
    width:625px;
    /* margin-top: 10px; */
    margin-right: 10px;
    
    /* border-width: 1.5px;
    border-color: rgb(176 190 197); */


}

.datepickerstart{
    border-color: rgb(176 190 197);
    border-radius: 4px;
    border-width: 1.5px;
    border-style: solid;
    width: 312px;
    padding: 10px;
    border-top-right-radius: none;
    /* margin-right: 10px; */
}

/* .datepickerElement{

} */


.imageElement{
  font-weight: 500;    
}

.textareaElementDescription{
    width:100%;
    border-color: rgb(176 190 197);
    border-radius: 4px;
    border-width: 3px;
    border-style: solid;
    outline: none;
    /* margin-left: 100px; */
}

.elementDescription{
    width:625px;
    margin-left: 13px;
    margin-top: 10px;
    
}

.table-container{
  width:300px;
}


.container-Quiz-contest{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.selectedProduct{
    margin-left: 20px;
}

.listitem{
    /* margin-bottom: 5px; */
    margin: 10px;
}

.listElementContainer{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

.QuestionContainerselect{
    display: flex;
}



.SelectQuestions{
    color:#73879C;
    font-weight: 500;
    margin-left: 10px;
}



.buttonQuiz{
    background-color: rgb(79 70 229);
    color:#ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-left: 70px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;

}

.SelectedQuestions{
    margin-top: 20px;
    font-weight: 600;
}

.buttonDelete{
    background-color: #b3b322;
    color:#ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-left: 70px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;


}

.date-time{
    padding:9px;
    margin-right: 5px;
    border-radius: 5px;
    width:310px;
}


.button-submit{
    margin-bottom: 30px;
}

.create-Contest{
    /* margin-left: 1000px; */
    border:1px solid #fff;
    margin-top:30px;
    padding: 7px;
    font-weight: 500;
    border-radius: 5px;
    width:300px;
    text-align: center;
    margin-left: 30px;
}
